.search-container {
  display: flex;
  align-items: center;
  background-color: #333;
  margin-left: 2.5rem;
  height: 3rem;
  width: 30%;
}
.search-bar {
  background-color: aqua;
}

.search-by {
  color: white;
  padding-right: 0.5rem;
}

.article-cards {
  background-color: whitesmoke;
  grid-area: articles-container;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 40px;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: inherit;
}
