.articles-container {
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url('../../assets/typewriter-unsplash.jpg');
  background-size: contain;
  background-position: center;
}

.article-cards {
  grid-area: articles-container;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  margin: 30px;
}

a:link,
a:visited,
a:active {
  color: inherit;
  text-decoration: inherit;
}

@media screen and (max-width: 1080px) {
  .article-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .article-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .article-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 350px) {
  .character-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
