.selected-article-wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 75%;
  padding: 1rem;
}

.selected-article {
  background-color: whitesmoke;

  display: flex;
  height: 80%;
  width: 90%;
  padding: 1rem;
}

.image-container-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  padding: 1rem;
}

.selected-card-img {
  height: 60%;
  width: 100%;
}

.title-wrapper {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.selected-card-details {
  /* background-color: antiquewhite; */
  width: 90%;
  height: auto;
}

.published-at {
  color: white;
}

.selected-card-details .link-to-full-article {
  color: white;
  text-decoration: underline;
}
