.header {
  grid-area: header;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  margin-right: 20px;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1s ease-out;
}
.home {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.home-link {
  color: #ffffff;
  font-size: 1.5rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px; /* Add some padding */
    margin-bottom: 10px;
  }

  .heading-primary-main {
    font-size: 30px;
    letter-spacing: 16px;
  }

  .heading-primary-sub {
    font-size: 15px;
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 5px; /* Add some padding */
    margin-bottom: 5px;
  }

  .heading-primary-main {
    font-size: 15px;
  }

  .heading-primary-sub {
    font-size: 8px;
  }
}
